<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <style>
    li{width:240px;height:350px;float:left;background:orange;margin:0 30px 30px 0}
    img{width:200px;height:200px;}
    </style>
<body>
    <div>商品展示区</div>
    <ul>
        <%=shopArr.length%>
        <%for(let item of shopArr){%>
        <li>
            <p>商品名:
                <%=item.shopname%>
            </p>
            <p>商品描述:
                <%=item.description%>
            </p>
            <p>价格:
                <%=item.price%>
            </p>
            <img src="<%=item.img%>" alt=""/>
        </li>
        <%}%>
    </ul>
</body>
</html>